server {
    listen 80;

    server_name ${WEBSITE_DOMAIN};

    location / {
        fastcgi_pass ${APP_HOST}:9000;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
